div {
    background-color: violet;
    padding: 10px;
    font-size: 30px;}
.menu:link {
    color: turquoise;
}
.menu:visited {
    color: rgb(156, 158, 14);
}
.menu:hover {
    color: rgb(226, 36, 26);
}
.menu:active {
    color: springgreen;
}
span {
    padding: 5px;
}
h1 {
    text-align: center;
    background-color: thistle;
    margin: 0%;
    font-size: 40px;
}
body {
    margin: 0%;
    background-color: wheat;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}